@using Microsoft.AspNetCore.Identity

<section class="footer bgcolor">
    <div class=" boxshadow bgcolor">
        <div class="row justify-content-center">
            <div class="card boxwidth cardmargin boxshadow">
                <div class="card-body">
                    <h5 class="text-uppercase card-title text-primary text-center">
                        CONTACT US
                    </h5>
                        <p class="card-text text-center">Contact Details</p>
                </div>
            </div>
            <div class="card boxwidth cardmargin boxshadow">
                <div class="card-body">
                    <h5 class="card-title text-primary text-center text-uppercase">
                        Connect With Us
                    </h5>
                     <p class="card-text text-center">Contact Details</p>
                    <div class="row justify-content-center">
                        <a href="https://www.facebook.com/" class=" m-1">
                            <img src="~/images/facebook.jpg"
                                 alt="facebook-logo"
                                 width="35px"
                                 height="27px" />
                        </a>
                        <a href="https://www.instagram.com/" class=" m-1">
                            <img src="~/images/instagram.png"
                                 alt="instagram logo"
                                 width="30px"
                                 height="21px" />
                        </a>
                        <a href="https://www.linkedin.com/" class=" m-1">
                            <img src="~/images/linkedin.png"
                                 alt="linkedin-logo"
                                 width="40px"
                                 height="25px" />
                        </a>
                        <a href="https://twitter.com/" className="m-1">
                            <img src="~/images/twitter.jpg"
                                 alt="twitter-logo"
                                 width="30px"
                                 height="25px" />
                        </a>
                    </div>
                </div>
            </div>
            <h5 class="col-12 col-6 text-center textcolor footerpadding">
                CopyRight 2020 &copy; Wedding planning Application
            </h5>
        </div>
    </div>
</section>