@{
    ViewData["Title"] = "Home Page";
}

    <section class="section-custom bgcolor">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-7 text-center md-margin-50px-bottom wow fadeInLeft">
                    <div class="padding-eight-lr text-center text-lg-left sm-no-padding w-100">
                        <h5 class="alt-font font-weight-700 text-white text-uppercase width-80 lg-width-100">Automated Wedding Application</h5>
                        <p class="alt-font font-weight-700 text-white width-80 lg-width-100">Make Everything Memorable</p>

                    </div>
                </div>
                <div class="col-12 col-lg-5 wow fadeInRight last-paragraph-no-margin" data-wow-delay="0.2s">
                    <img class="w-100" src="~/images/image1.png" alt="About image" />
                    <!-- <img class="w-100" style="box-shadow: 5px 10px #81baf0;" src="images/about-img5.jpg" alt="About image" /> -->
                </div>
            </div>
        </div>
    </section>

    <section class="section-custom m-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6 wow fadeInRight last-paragraph-no-margin" data-wow-delay="0.2s">
                    <img class="w-100" src="~/images/image2.png" alt="About image" />
                    <!-- <img class="w-100" style="box-shadow: 5px 10px #81baf0;" src="images/about-img5.jpg" alt="About image" /> -->
                </div>
                <div class="col-12 col-lg-6 text-center md-margin-50px-bottom wow fadeInLeft">
                    <div class="padding-eight-lr text-center text-lg-left sm-no-padding w-100">
                        <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase width-80 lg-width-100 font-weight-bold">What We Do</h5>

                        <p class="width-95 lg-width-100 text-extra-dark-gray"> something about Application </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

