
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="section-custom  " id="bgcolor1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12  text-center md-margin-50px-bottom wow fadeInLeft">
                <img class="w-75 h-75" src="~/images/contactus.png" alt="About image" height="h"/>


            </div>
            <!--<div class="col-12 col-lg-7 wow fadeInRight last-paragraph-no-margin" data-wow-delay="0.2s">
                <div class="padding-eight-lr text-center text-lg-left sm-no-padding w-100">
                    <h3 class="alt-font font-weight-700 text-white text-uppercase width-80 lg-width-100">Contact US</h3>
                    <h4 class="alt-font font-weight-700 text-white width-80 lg-width-100 text-center">Find Your Planner Below</h4>

                </div>-->                         @*<img class="w-100" style="box-shadow: 5px 10px #81baf0;" src="images/about-img5.jpg" alt="About image" />*@
            <!--</div>-->
        </div>
    </div>
</section>
<div class=" boxshadow  m-5 justify-content-center">
    <div class="row justify-content-center">
        <div class="card boxwidth cardmargin boxshadow m-5">
            <div class="card-body m-5">
                <h5 class="text-uppercase card-title text-primary text-center">
                    CONTACT US
                </h5>
                <p class="card-text text-center">Contact Details</p>
            </div>
        </div>
        <div class="card boxwidth cardmargin boxshadow m-5">
            <div class="card-body m-5">
                <h5 class="card-title text-primary text-center text-uppercase">
                    Connect With Us
                </h5>
                <p class="card-text text-center">Contact Details</p>
                <div class="row justify-content-center">
                    <a href="https://www.facebook.com/" class=" m-1">
                        <img src="~/images/facebook.jpg"
                             alt="facebook-logo"
                             width="35px"
                             height="27px" />
                    </a>
                    <a href="https://www.instagram.com/" class=" m-1">
                        <img src="~/images/instagram.png"
                             alt="instagram logo"
                             width="30px"
                             height="21px" />
                    </a>
                    <a href="https://www.linkedin.com/" class=" m-1">
                        <img src="~/images/linkedin.png"
                             alt="linkedin-logo"
                             width="40px"
                             height="25px" />
                    </a>
                    <a href="https://twitter.com/" className="m-1">
                        <img src="~/images/twitter.jpg"
                             alt="twitter-logo"
                             width="30px"
                             height="25px" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>